<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More about Mickey Mangan</title>
    <link rel="stylesheet" href="/public/blogstyle.css">
</head>
<body>
    <header class="navbar">
        <img
        src="/public/pluffLogo.svg"
        alt="circular transparent logo"
        height="125"
        width="125" />
        <h2>Welcome to my 'About Me' section</h2>
        <div><a href="/products">Back to the Shop!</a></div>
        <div><a href="/blog">Blog & Tutorials</a></div>
        <div><a href="/admin">Admin Login</a></div>
    </header>
    <div class="lineBreak">
    </div>
    <main>
        <p>Meditation big mood readymade williamsburg gatekeep shaman subway tile fanny pack. Cronut keytar yr church-key banjo chambray. Fit ramps organic, freegan meditation pour-over ethical.</p>
        <p>Vibecession +1 cornhole, 3 wolf moon man braid bruh authentic kale chips. Small batch scenester stumptown etsy microdosing bodega boys live-edge, venmo before they sold out drinking vinegar.</p>
        <video width="320" height="240" controls>
            <source src="../promo1.mp4" type="video/mp4">
        </video>
        <p>Bruh bushwick snackwave helvetica asymmetrical messenger bag fam iceland kickstarter slow-carb copper mug prism. Pickled af chicharrones.</p>
    </main>
    <footer>
        <p>Copyright &copy; All Rights Reserved 2022 Pluff Tie Dye Company</p> 
    </footer>
</body>
</html>