<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More about Mickey Mangan</title>
    <link rel="stylesheet" href="/public/blogstyle.css">
</head>
<body>
    <header class="navbar">
        <h2>Welcome to my blog and tutorial page!</h2>
        <div><a href="https://localhost:3000/products">Back to the Shop!</a></div>
        <div><a href="https://localhost:3000/aboutme">Blog & Tutorials</a></div>
        <div><a href="https://localhost:3000/admin">Admin Login</a></div>
    </header>
</body>
</html>