<!--To do -- properly link this admin to allow for edit/delete. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/Public/styles/adminstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<script>
    $(document).on('change', 'select', ()=> {
    })
 const testAjax - () =>{

 }
    $.ajax({
        type: "GET",
        url: "./edit",
   data:
        success: (response) =>{
            console.log(response);
        }
    });
</script>
<body>
    <header class="navbar">
        <img
        src="/Public/images/pluffLogo.svg"
        alt="circular transparent logo"
        height="125"
        width="125" /> 
        <h2>Admin Page - Edit and Update</h2>
        <div><a href="/products">Shop</a></div>
        <div><a href="/aboutme">About Me</a></div>
        <div><a href="/admin">Admin Login</a></div>
    </header>
    <div class="lineBreak">
    </div>
    <main>
        <div class="editProduct">
        <h3>Edit Product</h3>
            <form action="/products/?_method=PUT" method="POST">
            ID: <select name="name" id="Product ID">
                <% names.forEach(name => { %>
                    <option><%= name %></option>
                <% }); %></select>
        <br>
            Description: <input type="text" name="description" value="" /><br />
            Image: <input type="text" name="img" value="" /><br />
            Price: <input type="text" name="price" value="" /><br />
            Quantity: <input type="text" name="qty" value="" /><br />
        <br>
                <input type="submit" value="Submit Changes" />
            </form>
        <br>
        <h3>Add New Product</h3>
            <form action="/products" method="POST">
            Name: <input type="text" name="name"><br>
            Description: <input type="text" name="description"><br>
            Image: <input type="text" name="img"><br>
            Price: <input type="text" name="price"><br>
            Quantity: <input type="text" name="qty"><br>
            <input type="submit" value="Add New Product">
            </form>
        </div>
        <br>
        <div class="editBlog">
        <h3>Edit Blog Posts</h3>
            <form action="/blog/?_method=PUT" method="POST">
            Title: <select name="title" id="Blog Title">
                <% titles.forEach(title => { %>
                    <option><%= title %></option>
                <% }); %></select>
        <br>
            Date: <input type="text" name="date" value="" /><br />
            Content: <input type="textarea" name="content" value="" /><br />
            Image: <input type="text" name="image" value="" /><br />
        <br>
                <input type="submit" value="Submit Changes" />
            </form>
        <br>
        <h3>Add New Blog Post</h3>
            <form action="/blog" method="POST">
            Title: <input type="text" name="title"><br>
            Date: <input type="text" name="date"><br>
            Content: <input type="textarea" name="content"><br>
            Image: <input type="text" name="image"><br>
                <input type="submit" value="Add New Blog Post">
            </form>
        </div>
        <br>
    <footer>
        <p>Copyright &copy; All Rights Reserved 2022 Pluff Tie Dye Company</p> 
    </footer>
</body>
</html>