<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog and Tutorial</title>
    <link rel="stylesheet" href="/public/shopstyle.css">
</head>
<body>
    <header class="navbar">
    <h2>Welcome to my blog and tutorial page!</h2>
    <div><a href="/products">Back to the Shop!</a></div>
    <div><a href="/aboutme">About Me</a></div>
    <div><a href="/admin">Admin Login</a></div>
    </header>
    <main id="blog">This page was designed to show and demonstrate different techniques when tie dying.
        My aim is to share the knowledge that I've acquired through networking, research, and trial and error!
        <ul>
            <% blog.forEach(b => { %>
                <li>
                    <img src="<%=b.img%>"> <br>
                    <a href="/blog/<%= b._id %>"><%= b.title; %></a>
                </li>
            <% }); %>
        </ul> 
    </main>
    <footer>
        <p>Copyright &copy; All Rights Reserved 2022 Pluff Tie Dye Company</p> 
    </footer>
</body>
</html>
