<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/Public/styles/showstyle.css">
</head>
<body>
    <header class="navbar">
        <img
        src="/Public/images/pluffLogo.svg"
        alt="circular transparent logo"
        height="125"
        width="125" />
        <h2>Product Spotlight</h2>
        <div><a href="/products">Shop Home</a></div>
        <div><a href="/aboutme">About Me</a></div>
        <div><a href="/blog">Blog & Tutorials</a></div>
        <div><a href="/admin/edit">Admin Login</a></div>
    </header>
    <main class="spotlight">
        <h1><%=blog.title%></h1>
        <h2><%=blog.date%></h2>
        <img src="<%=blog.image%>"> <br>
        <p><%=blog.content%></p>
        <br>

    </main>
</body>
</html>