header {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:blanchedalmond;
}
.backgroundDisplay {
    grid-area:background
    
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 75px 1fr 1fr 20px;
    grid-template-areas:
    "navbar"
    "background"
    "shirts"
    "blog"
    "footer";
    margin: auto;
    grid-gap: 2px;
    font-family:'Courier New'
    align-content: center;
    background-color:beige;
}

footer {
    
}