header {
    display:flex;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 100px 20px;
    grid-template-areas:
    "navbar" "navbar"
    "shirts" "shirts"
    "footer" "footer";
    margin: auto;
    grid-gap: 2px;
    font-family:'Courier New';
    align-content: center;
    background-color:beige;
}