header {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:blanchedalmond;
    color:#0A284B;
}
a {
    box-shadow: inset 0 0 0 0 #e8f086;
    color: #0A284B;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 150px 0 0 0 #e8f086;
    color: #235FA4;
}

.lineBreak {
    grid-area: lineBreak;
    background-image: url("https://media.istockphoto.com/id/1371441366/photo/colorful-psychedelic-rainbow-swirls-background.jpg?b=1&s=170667a&w=0&k=20&c=NWw28oh1tVRrWlBaj3j5WBmKnwUCr9BggHeVVKSdS50=");
    background-repeat: repeat-x;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    display:block;
    flex: 0 1 auto;
    box-shadow: 5px 5px 10px 10px #235FA4 inset;

}
img {
    max-width: 200px;
    object-fit: scale-down;
}

.icons {
    display: block;
    justify-content: space-evenly;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 50px 1fr 20px;
    grid-template-areas:
    "navbar"
    "lineBreak"
    "shirts"
    "footer";
    margin: auto;
    grid-gap: 2px;
    font-family:'Courier New';
    text-align: center;
    align-content: center;
    background-color:#235FA4;
    color: #A691AE;
}

footer {
    grid-area: footer;
    background-color: #235FA4;
    margin: 2px;
    align-items: center;
    justify-items: center;
    color: #6FDE6E;
    display: flex;
    justify-content: space-evenly;
}