<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page
    </title>
    <link rel="stylesheet" href="/Public/styles/shopstyle.css">
</head>
<body>
    <header class="navbar">
        <img
        src="/Public/images/pluffLogo.svg"
        alt="circular transparent logo"
        height="125"
        width="125" />
        <!-- <a href="https://imgur.com/DZuHSug"><img src="https://i.imgur.com/DZuHSugb.png" title="source: imgur.com" /></a> -->
        <h2>Welcome to my store and tutorial blog. I hope to share my craft with you!</h2>
        <a href="/aboutme">About Me</a>
        <a href="/blog">Tutorial Blog</a>
        <a href="/admin/edit">Admin Login</a>
    </header>
    <div class="lineBreak">
    </div>
    <div class="products">
        <h1>New Releases</h1>
        <ul style="list-style: none;">
        <% products.forEach(p => { %>
            <li>
                <img src="<%=p.img%>"> <br>
                <a href="/products/<%= p._id %>"><%= p.name; %></a>
            </li>
        <% }); %>
        </ul>
    </div>
    <footer>
        <div class="icons">
            <img src="../Public/images/5296765_camera_instagram_instagram logo_icon.png" height="30" width="30" />
            <img src="../Public/images/5365678_fb_facebook_facebook logo_icon.png" height="30" width="30" />
            <img src="../Public/images/3213270_communication_email_letter_mail_message_icon.png" height="30" width="30" />
        </div>
        <p>Copyright &copy; All Rights Reserved 2022 Pluff Tie Dye Company</p> 
    </footer>
</body>
</html>